body {
    background-color: rgb(230, 11, 102);
}


h1 {
    color: navy;
    margin-left: 20px;
}


header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}


footer {
    background-color: darkblue;
    color: rgb(194, 46, 194);
    text-align: center;
    padding: 10px;
}
